.App {
  font-family: sans-serif;
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

th {
  text-align: left;
}
table {
  border-spacing: 5px;
  background-color: #f1f1c1;
}

.editRowForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

input {
  width: 70%;
  height: 8vh;
  margin: 7px;
  outline: none;
  background: #7fffd4;
  border-radius: 10%;
}
